body{ 
    font-family: Arial, Helvetica, sans-serif; 
    width: 95%; 
    margin: 0 auto; /*fica centralizado*/
    background-color: rgb(213, 252, 213);
    text-align: justify;
}

h3::selection{
    background-color: rgba(166, 226, 166, 0.616);
}

div.fixo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 5px; 
    position: fixed;
    width: 300px;
    height:200 px;
    top:0px;
    right:0px;
}

.logo img{
    width:80%; /*deixar % pq redimensiona sozinho*/
    margin-top: 20px;
    padding-left:11.3%;
}

.navegacao{
    overflow: hidden; /*ajusta o conteúdo no box e esconde a barra de rolagem*/
}

.navegacao a{
    float: right;
    display: block;
    color:black;
    text-decoration: none; /*tira o sublinhado embaixo do link*/
    text-align: right;
    padding: 10px 10px; /*espaçamento entre os links, 10px top e right e 10px bottom e left*/
}

.navegacao a:hover{
    color:#3E6152;
    background-color: #3BE6A9;
}

h1{
    background-image: linear-gradient(to bottom, #083322,#3BEDA6);
    color:white;
    text-align: center;
    font-size: 28px;
}

h2{
    color: rgb(65, 172, 109);
}

h3{
    color:#61d3a5;
}

ul{
    color:#083322 ;
}

b{
    color:#3BEDA6;
    background-color: #083322 ;
}

a{
    color:rgb(12, 77, 12);
}

a:hover{
    color:#3E6152;
    background-color: #3BE6A9;
}

i{
    color:rgb(12, 77, 12);
}

p.img{
    text-align: center;
}

